# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Data file
CSS_Papers.xlsx
.zip
shared_data/abstract_subset/0.pkl
shared_data/abstract_subset/1708.pkl
shared_data/abstract_subset/1791.pkl
shared_data/abstract_subset/1799.pkl
shared_data/abstract_subset/1804.pkl
shared_data/abstract_subset/1805.pkl
shared_data/abstract_subset/1807.pkl
shared_data/abstract_subset/1808.pkl
shared_data/abstract_subset/1810.pkl
shared_data/abstract_subset/1813.pkl
shared_data/abstract_subset/1816.pkl
shared_data/abstract_subset/1821.pkl
shared_data/abstract_subset/1823.pkl
shared_data/abstract_subset/1824.pkl
shared_data/abstract_subset/1825.pkl
shared_data/abstract_subset/1828.pkl
shared_data/abstract_subset/1829.pkl
shared_data/abstract_subset/1830.pkl
shared_data/abstract_subset/1831.pkl
shared_data/abstract_subset/1832.pkl
shared_data/abstract_subset/1833.pkl
shared_data/abstract_subset/1834.pkl
shared_data/abstract_subset/1837.pkl
shared_data/abstract_subset/1838.pkl
shared_data/abstract_subset/1839.pkl
shared_data/abstract_subset/1840.pkl
shared_data/abstract_subset/1841.pkl
shared_data/abstract_subset/1842.pkl
shared_data/abstract_subset/1843.pkl
shared_data/abstract_subset/1844.pkl
shared_data/abstract_subset/1845.pkl
shared_data/abstract_subset/1846.pkl
shared_data/abstract_subset/1848.pkl
shared_data/abstract_subset/1849.pkl
shared_data/abstract_subset/1851.pkl
shared_data/abstract_subset/1852.pkl
shared_data/abstract_subset/1854.pkl
shared_data/abstract_subset/1856.pkl
shared_data/abstract_subset/1858.pkl
shared_data/abstract_subset/1860.pkl
shared_data/abstract_subset/1861.pkl
shared_data/abstract_subset/1862.pkl
shared_data/abstract_subset/1863.pkl
shared_data/abstract_subset/1864.pkl
shared_data/abstract_subset/1865.pkl
shared_data/abstract_subset/1866.pkl
shared_data/abstract_subset/1867.pkl
shared_data/abstract_subset/1868.pkl
shared_data/abstract_subset/1869.pkl
shared_data/abstract_subset/1870.pkl
shared_data/abstract_subset/1871.pkl
shared_data/abstract_subset/1872.pkl
shared_data/abstract_subset/1873.pkl
shared_data/abstract_subset/1874.pkl
shared_data/abstract_subset/1875.pkl
shared_data/abstract_subset/1876.pkl
shared_data/abstract_subset/1877.pkl
shared_data/abstract_subset/1878.pkl
shared_data/abstract_subset/1879.pkl
shared_data/abstract_subset/1880.pkl
shared_data/abstract_subset/1881.pkl
shared_data/abstract_subset/1882.pkl
shared_data/abstract_subset/1883.pkl
shared_data/abstract_subset/1884.pkl
shared_data/abstract_subset/1885.pkl
shared_data/abstract_subset/1886.pkl
shared_data/abstract_subset/1887.pkl
shared_data/abstract_subset/1888.pkl
shared_data/abstract_subset/1889.pkl
shared_data/abstract_subset/1890.pkl
shared_data/abstract_subset/1891.pkl
shared_data/abstract_subset/1892.pkl
shared_data/abstract_subset/1893.pkl
shared_data/abstract_subset/1894.pkl
shared_data/abstract_subset/1895.pkl
shared_data/abstract_subset/1896.pkl
shared_data/abstract_subset/1897.pkl
shared_data/abstract_subset/1898.pkl
shared_data/abstract_subset/1899.pkl
shared_data/abstract_subset/1900.pkl
shared_data/abstract_subset/1901.pkl
shared_data/abstract_subset/1902.pkl
shared_data/abstract_subset/1903.pkl
shared_data/abstract_subset/1904.pkl
shared_data/abstract_subset/1905.pkl
shared_data/abstract_subset/1906.pkl
shared_data/abstract_subset/1907.pkl
shared_data/abstract_subset/1908.pkl
shared_data/abstract_subset/1909.pkl
shared_data/abstract_subset/1910.pkl
shared_data/abstract_subset/1911.pkl
shared_data/abstract_subset/1912.pkl
shared_data/abstract_subset/1913.pkl
shared_data/abstract_subset/1914.pkl
shared_data/abstract_subset/1915.pkl
shared_data/abstract_subset/1916.pkl
shared_data/abstract_subset/1917.pkl
shared_data/abstract_subset/1918.pkl
shared_data/abstract_subset/1919.pkl
shared_data/abstract_subset/1920.pkl
shared_data/abstract_subset/1921.pkl
shared_data/abstract_subset/1922.pkl
shared_data/abstract_subset/1923.pkl
shared_data/abstract_subset/1924.pkl
shared_data/abstract_subset/1925.pkl
shared_data/abstract_subset/1926.pkl
shared_data/abstract_subset/1927.pkl
shared_data/abstract_subset/1928.pkl
shared_data/abstract_subset/1929.pkl
shared_data/abstract_subset/1930.pkl
shared_data/abstract_subset/1931.pkl
shared_data/abstract_subset/1932.pkl
shared_data/abstract_subset/1933.pkl
shared_data/abstract_subset/1934.pkl
shared_data/abstract_subset/1935.pkl
shared_data/abstract_subset/1936.pkl
shared_data/abstract_subset/1937.pkl
shared_data/abstract_subset/1938.pkl
shared_data/abstract_subset/1939.pkl
shared_data/abstract_subset/1940.pkl
shared_data/abstract_subset/1941.pkl
shared_data/abstract_subset/1942.pkl
shared_data/abstract_subset/1943.pkl
shared_data/abstract_subset/1944.pkl
shared_data/abstract_subset/1945.pkl
shared_data/abstract_subset/1946.pkl
shared_data/abstract_subset/1947.pkl
shared_data/abstract_subset/1948.pkl
shared_data/abstract_subset/1949.pkl
shared_data/abstract_subset/1950.pkl
shared_data/abstract_subset/1951.pkl
shared_data/abstract_subset/1952.pkl
shared_data/abstract_subset/1953.pkl
shared_data/abstract_subset/1954.pkl
shared_data/abstract_subset/1955.pkl
shared_data/abstract_subset/1956.pkl
shared_data/abstract_subset/1957.pkl
shared_data/abstract_subset/1958.pkl
shared_data/abstract_subset/1959.pkl
shared_data/abstract_subset/1960.pkl
shared_data/abstract_subset/1961.pkl
shared_data/abstract_subset/1962.pkl
shared_data/abstract_subset/1963.pkl
shared_data/abstract_subset/1964.pkl
shared_data/abstract_subset/1965.pkl
shared_data/abstract_subset/1966.pkl
shared_data/abstract_subset/1967.pkl
shared_data/abstract_subset/1968.pkl
shared_data/abstract_subset/1969.pkl
shared_data/abstract_subset/1970.pkl
shared_data/abstract_subset/1971.pkl
shared_data/abstract_subset/1972.pkl
shared_data/abstract_subset/1973.pkl
shared_data/abstract_subset/1974.pkl
shared_data/abstract_subset/1975.pkl
shared_data/abstract_subset/1976.pkl
shared_data/abstract_subset/1977.pkl
shared_data/abstract_subset/1978.pkl
shared_data/abstract_subset/1979.pkl
shared_data/abstract_subset/1980.pkl
shared_data/abstract_subset/1981.pkl
shared_data/abstract_subset/1982.pkl
shared_data/abstract_subset/1983.pkl
shared_data/abstract_subset/1984.pkl
shared_data/abstract_subset/1985.pkl
shared_data/abstract_subset/1986.pkl
shared_data/abstract_subset/1987.pkl
shared_data/abstract_subset/1988.pkl
shared_data/abstract_subset/1989.pkl
shared_data/abstract_subset/1990.pkl
shared_data/abstract_subset/1991.pkl
shared_data/abstract_subset/1992.pkl
shared_data/abstract_subset/1993.pkl
shared_data/abstract_subset/1994.pkl
shared_data/abstract_subset/1995.pkl
shared_data/abstract_subset/1996.pkl
shared_data/abstract_subset/1997.pkl
shared_data/abstract_subset/1998.pkl
shared_data/abstract_subset/1999.pkl
shared_data/abstract_subset/2000.pkl
shared_data/abstract_subset/2001.pkl
shared_data/abstract_subset/2002.pkl
shared_data/abstract_subset/2003.pkl
shared_data/abstract_subset/2004.pkl
shared_data/abstract_subset/2005.pkl
shared_data/abstract_subset/2006.pkl
shared_data/abstract_subset/2007.pkl
shared_data/abstract_subset/2008.pkl
shared_data/abstract_subset/2009.pkl
shared_data/abstract_subset/2010.pkl
shared_data/abstract_subset/2011.pkl
shared_data/abstract_subset/2012.pkl
shared_data/abstract_subset/2013.pkl
shared_data/abstract_subset/2014.pkl
shared_data/abstract_subset/2015.pkl
shared_data/abstract_subset/2016.pkl
shared_data/abstract_subset/2017.pkl
shared_data/abstract_subset/2018.pkl
shared_data/abstract_subset/2019.pkl
shared_data/abstract_subset/2020.pkl
shared_data/abstract_subset/2021.pkl
shared_data/abstract_subset/2022.pkl
shared_data/abstract_subset/2023.pkl
shared_data/author_subset.pkl
shared_data/paper_subset/0.pkl
shared_data/paper_subset/1708.pkl
shared_data/paper_subset/1791.pkl
shared_data/paper_subset/1799.pkl
shared_data/paper_subset/1804.pkl
shared_data/paper_subset/1805.pkl
shared_data/paper_subset/1807.pkl
shared_data/paper_subset/1808.pkl
shared_data/paper_subset/1810.pkl
shared_data/paper_subset/1813.pkl
shared_data/paper_subset/1816.pkl
shared_data/paper_subset/1821.pkl
shared_data/paper_subset/1823.pkl
shared_data/paper_subset/1824.pkl
shared_data/paper_subset/1825.pkl
shared_data/paper_subset/1828.pkl
shared_data/paper_subset/1829.pkl
shared_data/paper_subset/1830.pkl
shared_data/paper_subset/1831.pkl
shared_data/paper_subset/1832.pkl
shared_data/paper_subset/1833.pkl
shared_data/paper_subset/1834.pkl
shared_data/paper_subset/1837.pkl
shared_data/paper_subset/1838.pkl
shared_data/paper_subset/1839.pkl
shared_data/paper_subset/1840.pkl
shared_data/paper_subset/1841.pkl
shared_data/paper_subset/1842.pkl
shared_data/paper_subset/1843.pkl
shared_data/paper_subset/1844.pkl
shared_data/paper_subset/1845.pkl
shared_data/paper_subset/1846.pkl
shared_data/paper_subset/1848.pkl
shared_data/paper_subset/1849.pkl
shared_data/paper_subset/1851.pkl
shared_data/paper_subset/1852.pkl
shared_data/paper_subset/1854.pkl
shared_data/paper_subset/1856.pkl
shared_data/paper_subset/1858.pkl
shared_data/paper_subset/1860.pkl
shared_data/paper_subset/1861.pkl
shared_data/paper_subset/1862.pkl
shared_data/paper_subset/1863.pkl
shared_data/paper_subset/1864.pkl
shared_data/paper_subset/1865.pkl
shared_data/paper_subset/1866.pkl
shared_data/paper_subset/1867.pkl
shared_data/paper_subset/1868.pkl
shared_data/paper_subset/1869.pkl
shared_data/paper_subset/1870.pkl
shared_data/paper_subset/1871.pkl
shared_data/paper_subset/1872.pkl
shared_data/paper_subset/1873.pkl
shared_data/paper_subset/1874.pkl
shared_data/paper_subset/1875.pkl
shared_data/paper_subset/1876.pkl
shared_data/paper_subset/1877.pkl
shared_data/paper_subset/1878.pkl
shared_data/paper_subset/1879.pkl
shared_data/paper_subset/1880.pkl
shared_data/paper_subset/1881.pkl
shared_data/paper_subset/1882.pkl
shared_data/paper_subset/1883.pkl
shared_data/paper_subset/1884.pkl
shared_data/paper_subset/1885.pkl
shared_data/paper_subset/1886.pkl
shared_data/paper_subset/1887.pkl
shared_data/paper_subset/1888.pkl
shared_data/paper_subset/1889.pkl
shared_data/paper_subset/1890.pkl
shared_data/paper_subset/1891.pkl
shared_data/paper_subset/1892.pkl
shared_data/paper_subset/1893.pkl
shared_data/paper_subset/1894.pkl
shared_data/paper_subset/1895.pkl
shared_data/paper_subset/1896.pkl
shared_data/paper_subset/1897.pkl
shared_data/paper_subset/1898.pkl
shared_data/paper_subset/1899.pkl
shared_data/paper_subset/1900.pkl
shared_data/paper_subset/1901.pkl
shared_data/paper_subset/1902.pkl
shared_data/paper_subset/1903.pkl
shared_data/paper_subset/1904.pkl
shared_data/paper_subset/1905.pkl
shared_data/paper_subset/1906.pkl
shared_data/paper_subset/1907.pkl
shared_data/paper_subset/1908.pkl
shared_data/paper_subset/1909.pkl
shared_data/paper_subset/1910.pkl
shared_data/paper_subset/1911.pkl
shared_data/paper_subset/1912.pkl
shared_data/paper_subset/1913.pkl
shared_data/paper_subset/1914.pkl
shared_data/paper_subset/1915.pkl
shared_data/paper_subset/1916.pkl
shared_data/paper_subset/1917.pkl
shared_data/paper_subset/1918.pkl
shared_data/paper_subset/1919.pkl
shared_data/paper_subset/1920.pkl
shared_data/paper_subset/1921.pkl
shared_data/paper_subset/1922.pkl
shared_data/paper_subset/1923.pkl
shared_data/paper_subset/1924.pkl
shared_data/paper_subset/1925.pkl
shared_data/paper_subset/1926.pkl
shared_data/paper_subset/1927.pkl
shared_data/paper_subset/1928.pkl
shared_data/paper_subset/1929.pkl
shared_data/paper_subset/1930.pkl
shared_data/paper_subset/1931.pkl
shared_data/paper_subset/1932.pkl
shared_data/paper_subset/1933.pkl
shared_data/paper_subset/1934.pkl
shared_data/paper_subset/1935.pkl
shared_data/paper_subset/1936.pkl
shared_data/paper_subset/1937.pkl
shared_data/paper_subset/1938.pkl
shared_data/paper_subset/1939.pkl
shared_data/paper_subset/1940.pkl
shared_data/paper_subset/1941.pkl
shared_data/paper_subset/1942.pkl
shared_data/paper_subset/1943.pkl
shared_data/paper_subset/1944.pkl
shared_data/paper_subset/1945.pkl
shared_data/paper_subset/1946.pkl
shared_data/paper_subset/1947.pkl
shared_data/paper_subset/1948.pkl
shared_data/paper_subset/1949.pkl
shared_data/paper_subset/1950.pkl
shared_data/paper_subset/1951.pkl
shared_data/paper_subset/1952.pkl
shared_data/paper_subset/1953.pkl
shared_data/paper_subset/1954.pkl
shared_data/paper_subset/1955.pkl
shared_data/paper_subset/1956.pkl
shared_data/paper_subset/1957.pkl
shared_data/paper_subset/1958.pkl
shared_data/paper_subset/1959.pkl
shared_data/paper_subset/1960.pkl
shared_data/paper_subset/1961.pkl
shared_data/paper_subset/1962.pkl
shared_data/paper_subset/1963.pkl
shared_data/paper_subset/1964.pkl
shared_data/paper_subset/1965.pkl
shared_data/paper_subset/1966.pkl
shared_data/paper_subset/1967.pkl
shared_data/paper_subset/1968.pkl
shared_data/paper_subset/1969.pkl
shared_data/paper_subset/1970.pkl
shared_data/paper_subset/1971.pkl
shared_data/paper_subset/1972.pkl
shared_data/paper_subset/1973.pkl
shared_data/paper_subset/1974.pkl
shared_data/paper_subset/1975.pkl
shared_data/paper_subset/1976.pkl
shared_data/paper_subset/1977.pkl
shared_data/paper_subset/1978.pkl
shared_data/paper_subset/1979.pkl
shared_data/paper_subset/1980.pkl
shared_data/paper_subset/1981.pkl
shared_data/paper_subset/1982.pkl
shared_data/paper_subset/1983.pkl
shared_data/paper_subset/1984.pkl
shared_data/paper_subset/1985.pkl
shared_data/paper_subset/1986.pkl
shared_data/paper_subset/1987.pkl
shared_data/paper_subset/1988.pkl
shared_data/paper_subset/1989.pkl
shared_data/paper_subset/1990.pkl
shared_data/paper_subset/1991.pkl
shared_data/paper_subset/1992.pkl
shared_data/paper_subset/1993.pkl
shared_data/paper_subset/1994.pkl
shared_data/paper_subset/1995.pkl
shared_data/paper_subset/1996.pkl
shared_data/paper_subset/1997.pkl
shared_data/paper_subset/1998.pkl
shared_data/paper_subset/1999.pkl
shared_data/paper_subset/2000.pkl
shared_data/paper_subset/2001.pkl
shared_data/paper_subset/2002.pkl
shared_data/paper_subset/2003.pkl
shared_data/paper_subset/2004.pkl
shared_data/paper_subset/2005.pkl
shared_data/paper_subset/2006.pkl
shared_data/paper_subset/2007.pkl
shared_data/paper_subset/2008.pkl
shared_data/paper_subset/2009.pkl
shared_data/paper_subset/2010.pkl
shared_data/paper_subset/2011.pkl
shared_data/paper_subset/2012.pkl
shared_data/paper_subset/2013.pkl
shared_data/paper_subset/2014.pkl
shared_data/paper_subset/2015.pkl
shared_data/paper_subset/2016.pkl
shared_data/paper_subset/2017.pkl
shared_data/paper_subset/2018.pkl
shared_data/paper_subset/2019.pkl
shared_data/paper_subset/2020.pkl
shared_data/paper_subset/2021.pkl
shared_data/paper_subset/2022.pkl
shared_data/paper_subset/2023.pkl
shared_data/shared_data.zip
